html, body, div, span, ul, li, button, nav, input, * {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: lightgrey;
}


.prototype {
	display: none;
}

.wrapper {
	width: 640px;
	min-width: 640px;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

input {
	display: none;
	font-size: large;
}

nav {
	box-shadow: 0px 2px 10px gray; /*#2889be;*/
	text-align: center;
	font-size: 18pt;
	font-family: sans-serif;
	padding: 5px;
	font-weight: bold;
	background-color: white;
}

nav button {
	float: left;
	margin-top: -5px;
}

button {
	background: none;
	font-size: large;
	font-weight: bold;
	border: 1px solid gray;
	border-radius: 17px;
	width: 23px;
	height: 23px;
	box-shadow: 0 1px 3px black;
}

button:hover {
	box-shadow: 0 3px 4px black;	
}

button:active {
	box-shadow: 0 0px 1px black;	
}

#list li {
	font-weight: bold;
	font-family: sans-serif;
	margin: 10px;
	border: 2px solid gray;
	border-radius: 5px;
	box-shadow: 0px 0px 2px gray;
	padding: 20px;
	background-color: #f8ffff;
}

.levels {
	float: right;
	margin-top: -7px;
}

.levels-number {
	font-size: 1.4em;
}

.levels-button-plus {
	background-color: lightgreen;
}

.levels-button-minus {
	background-color: pink;
}